<div class="header1"></div>


    <div class="container">
    <div class="h-ui1">
          <div class="h-title">
               <strong>正在排队.....</strong>
          </div>


        <div style="position: absolute;top: 2px; ;right: 0px;color: #fff">
             <p style="line-height: 14px;font-size: 14px;margin: 5px;">还需<%=UserQueue::QUEUE_SIZE - @in_queues.count%>人排队就可发红包</p>
        </div>
        <div class="h-body">

            <div class="h-body-form">
                <%= form_tag '/offer', method: 'post' do %>
                    <input type="text" class="inp1" name="account_name"/>
                    <span id="refresh" style="border: 1px solid #00A0E8;display: inline-block;"><%= captcha_tag :alt => '点击刷新' %>
                    </span>
                    <input type="text" class="inp3" name="captcha"/>
                    <input type="submit" value="进入队列" class="btn1">
                <% end %>
                <span class="error"><%= notice %></span>
                <div class="" style="position: absolute;right: 0px;top: 5px;margin: 0px;padding: 0px;">
                    <i class="run2"></i>
                    <i class="run2"></i>
                    <i class="run2"></i>
                    <i class="run2"></i>
                    <i class="run2"></i>
                    <i class="run2"></i>
                    <i class="run2"></i>
                  </div>
            </div>

            <div class="h-table">
            <table width="100%">
                <tr>
                    <% (1..UserQueue::QUEUE_SIZE).each_with_index do |item, index| %>
                        <td style="width:<%=100/UserQueue::QUEUE_SIZE%>%">
                            <i class="station<%= item %>-2"> </i>
                            <strong>
                                <%= @in_queues[index].nil? ? '等待入队...' : @in_queues[index].account_name %>
                            </strong>
                        </td>
                    <% end %>
                </tr>
            </table>
           </div>
        </div>
    </div>



    <div style="position: relative ;width: 950px;; height: 150px;  ;text-align: center;margin:10px 0;">
        <img src="images/80-ad1.png" style="width: 950px;">
    </div>

    <div class="" style="">
        <div class="c-left">
            <div class="b-ui3">
                <h2>红包发放中</h2>
                    <div class="tab">
                        <p>1.排队人数到达<%=UserQueue::QUEUE_SIZE%>人,就发红包1次.</p>
                        <p>2.红包可以重复领取,每次领取红包金额将大于上次领取的红包金额.</p>
                    </div>
           </div>
            <div class="b-ui1">
                 <table width="100%">
                <colgroup>
                    <col width="15"/>
                    <col width="30"/>
                    <col width="30"/>
                    <col width="25"/>
                </colgroup>

                <thead>
                <tr>
                    <th>编号</th>
                    <th>入队时间</th>
                    <th>帐号</th>
                    <th>上次红包金额(元)</th>
                </tr>
                </thead>
                <tbody>
                <% @out_queues.each_with_index do |out_queue,index| %>
                    <tr>
                        <td class="num"><%=queue_index(index,@page_size,@page)  %> </td>
                        <td><%= out_queue.created_at.localtime.strftime('%-Y.%-m.%-d %H:%M:%S') %></td>
                        <td><%= out_queue.account_name %></td>
                        <td class="rmb"><%= out_queue.last_acquisition_amount%></td>
                    </tr>
                <% end %>
                </tbody>
                <tfoot>
                    <tr><td colspan="4" style="text-align: right;padding-right: 20px;">  <%= will_paginate @out_queues %></td></tr>
                </tfoot>
            </table>
            </div>
            <div style="position: relative;width: 640px;height: 100px;float: left;margin-top: 10px;text-align: center">
                <img src="images/ad640_90.jpg">
            </div>
    </div>
        <div class="c-right">
        <div class="b-ui4">
            <h2>已经获得红包用户</h2>
        </div>
        <div class="b-ui2 scroll">

            <ul class="list">
                <% @acquisition_amount.each do |q| %>
                    <li>
                        <span class="color1"><%= q.account_name %></span>已经领取红包
                        <span class="num"><%= q.acquisition_amount_count %></span>个共计
                        <span class="rmb"><%= q.acquisition_amount_total %></span>元
                    </li>
                <% end %>


            </ul>
        </div>
    </div>
        <div style="clear:both;"></div>
   </div>
</div>

<div class="footer">
    <div class="content">
        <p>广告合作:</p>
        <p>联系我们:</p>
    </div>
</div>

