<div class="header">
    <div class="header-top">
         <div class="h-body" style="height: 575px;">
             <img src="<%= asset_path 'h-body.png'%>" style="margin: auto;height: 575px;width: 950px;">
         </div>
        <div style="height: 250px;position: absolute;width: 400px;top: 320px;left: 300px;color: #fff;font-size:14px;line-height: 15px;font-family: 'Microsoft YaHei';">
             <p><strong>说明:</strong></p>
             <p>1.支付宝用户登录支付宝用户登录支付宝用户登录</p>
             <p>2.红包可以多次领取支付宝用户登录支付宝用户登录</p>
            <p>3.红包可以多次领取支付宝用户登录支付宝用户登录</p>
            <p>4.红包可以多次领取支付宝用户登录支付宝用户登录</p>
        </div>
        <!--<div class="bg1"></div>-->
         <!--<div style="color: #fff;font: 14px;margin: 0">-->
             <!--<pre>-->

             <!--</pre>-->
         <!--</div>-->
    </div>


    <!--<div style="position: absolute;height: 400px;width: 950px;margin: auto;background: url(<%= asset_path 'hongbao.png' %>) no-repeat;margin-top: -100px;">-->
    <!--</div>-->
     <div class="header-bottom"></div>
</div>
<div class="container">

    <div class="h-ui1">
        <h2>正在排队.....</h2>

        <div class="h-ui2">
            <table width="100%">
                <tr>

                    <% (1..UserQueue::QUEUE_SIZE).each_with_index do |item, index| %>
                        <td>
                            <span class="num"><%= item %>.</span><%= @in_queues[index].nil? ? '等待入队...' : @in_queues[index].account_name %>
                        </td>
                    <% end %>
                </tr>
            </table>

            <div class="h-ui3">
                <%= form_tag '/offer', method: 'post' do %>
                    <input type="text" class="inp1" name="account_name"/>
                    <input type="text" class="inp2" value="XYZW"/>
                    <input type="text" class="inp3"/>
                    <input type="submit" value="进入队列" class="btn1">
                <% end %>
            </div>
        </div>
    </div>

    <div style="position: relative ;margin-top: 10px;width: 950px;; height: 100px;  ;text-align: center;">
        <img src="images/ad950_90.jpg">
    </div>

    <div class="c-left">
        <div class="b-ui3">
            <h2>红包领取中</h2>
            <div class="tab">
                <p>1.排队队列满</p>
                <p>1.随机获取不同金额</p>
            </div>
        </div>
        <div class="b-ui1">
            <table width="100%">
                <colgroup>
                    <col width="20"/>
                    <col width="30"/>
                    <col width="30"/>
                    <col width="20"/>
                </colgroup>

                <thead>
                <tr>
                    <th>编号</th>
                    <th>入队时间</th>
                    <th>帐号</th>
                    <th>领奖金额(元)</th>
                </tr>
                </thead>
                <tbody>
                <% @out_queues.each do |out_queue| %>
                    <tr>

                        <td class="num"><%= out_queue.out_queue_num %></td>
                        <td><%= out_queue.created_at.localtime.strftime('%-Y.%-m.%-d %H:%M:%S') %></td>
                        <td><%= out_queue.account_name %></td>
                        <td class="rmb"><%= out_queue.acquisition_amount_total %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
        <div style="position: relative;width: 640px;height: 100px;float: left;margin-top: 10px;text-align: center">
            <img src="images/ad640_90.jpg">
        </div>
    </div>

    <div class="c-right">
        <div class="b-ui4">
            <h2>已经获得红包用户</h2>
        </div>
        <div class="b-ui2 scroll">

            <ul class="list">
                <% @acquisition_amount.each do |q| %>
                    <li>
                        <span class="color1"><%=q.account_name%></span>已经领取红包
                        <span class="num"><%=q.acquisition_amount_count%></span>次共计
                        <span class="rmb"><%=q.last_acquisition_amount%></span>元
                    </li>
                <% end %>


            </ul>
        </div>
    </div>







    <div style="clear:both;"></div>
</div>
<div class="footer">
    <div class="content">
        <h2>FUCK</h2>
    </div>
</div>
