<div class="header">
    <div class="header-top">
        <div class="h-body" style="height: 575px;">
            <img src="<%= asset_path 'h-body.png' %>" style="margin: auto;height: 575px;width: 950px;">
        </div>
        <div style="height: 250px;position: absolute;width: 400px;top: 320px;left: 300px;color: #fff;font-size:14px;line-height: 15px;font-family: 'Microsoft YaHei';">
            <p><strong>说明:</strong></p>

            <p>1.支付宝用户登录支付宝用户登录支付宝用户登录</p>

            <p>2.红包可以多次领取支付宝用户登录支付宝用户登录</p>

            <p>3.红包可以多次领取支付宝用户登录支付宝用户登录</p>

            <p>4.红包可以多次领取支付宝用户登录支付宝用户登录</p>
        </div>
    </div>


    <div class="header-bottom"></div>
</div>
<div class="container">

    <div style="position: relative;margin-top: 10px;width: 950px;">
     <div style="float: left;width: 200px;">
         <h2 style="color: #de0305">排队中...</h2>
         <div style="background: #f1f1f1;width: 200px;border-top: 2px solid #de0305;padding-bottom: 5px;">
             <ul style="list-style: none;padding-left: 5px;margin-left: 0px;margin-top:0px;line-height: 22px;">
                 <li><span class="num">1</span><span class="color1 pl5">11111111@test.com</span></li>
                 <li><span class="num">2</span><span class="color1 pl5">13999999999</span></li>
                 <li><span class="num">3</span><span class="color1 pl5">text@test.com</span></li>
                 <li><span class="num">4</span><span class="color1 pl5">text@test.com</span></li>
                 <li><span class="num">5</span><span class="color1 pl5">text@test.com</span></li>
                 <li><span class="num">6</span><span class="color1 pl5">text@test.com</span></li>
                 <li><span class="num">7</span><span class="color1 pl5">等待如队...</span></li>
             </ul>
         </div>
     </div>

        <div style="position: relative;float: right;width: 740px;">
            <h2 style="color: #333">排队中...</h2>
            <div style="background: #f1f1f1;width: 200px;border-top: 2px solid #666;width: 740px;" class="ui-form">
                <p><label>支付宝帐号</label> <input type="text" class="inp1" name="account_name"/></p>
                <p><label>验证码</label>  <span id="refresh"> <%= captcha_tag :alt => '点击刷新' %> </span>   <input type="text" class="inp3" name="captcha"/></p>
                <p> <input type="submit" value="进入队列" class="btn1"></p>
            </div>
        </div>
    </div>



    <div style="clear:both;"></div>
    <div class="h-ui1">
        <h2>正在排队.....</h2>
        <div style="position: absolute;top: 0px; ;right: 0;color: #FFF100">
             <p style="line-height: 14px;font-size: 14px;margin: 5px;">当前排队总人数100人,已发红包100元</p>
        </div>
        <div class="h-ui2">
            <table width="100%">
                <tr>

                    <% (1..UserQueue::QUEUE_SIZE).each_with_index do |item, index| %>
                        <td>
                            <span class="num"><%= item %>.</span><%= @in_queues[index].nil? ? '等待入队...' : @in_queues[index].account_name %>
                        </td>
                    <% end %>
                </tr>
            </table>
            <div class="h-ui3">
                <%= form_tag '/offer', method: 'post' do %>
                    <input type="text" class="inp1" name="account_name"/>
                    <span id="refresh"> <%= captcha_tag :alt => '点击刷新' %> </span>
                    <input type="text" class="inp3" name="captcha"/>
                    <input type="submit" value="进入队列" class="btn1">
                    <p class="error"><%= notice %></p>
                <% end %>
            </div>
        </div>
    </div>



    <div style="position: relative ;margin-top: 10px;width: 950px;; height: 100px;  ;text-align: center;">
        <img src="images/ad950_90.jpg" style="width: 950px;">
    </div>

    <div class="c-left">
        <div class="b-ui3">
            <h2>红包领取中</h2>
            <div class="tab">
                <p>1.排队队列满</p>
                <p>1.随机获取不同金额</p>
            </div>
        </div>
        <div class="b-ui1">
            <table width="100%">
                <colgroup>
                    <col width="20"/>
                    <col width="30"/>
                    <col width="30"/>
                    <col width="20"/>
                </colgroup>

                <thead>
                <tr>
                    <th>编号</th>
                    <th>入队时间</th>
                    <th>帐号</th>
                    <th>上次红包金额(元)</th>
                </tr>
                </thead>
                <tbody>
                <% @out_queues.each_with_index do |out_queue,index| %>
                    <tr>
                        <td class="num"><%= index + 1%></td>
                        <td><%= out_queue.created_at.localtime.strftime('%-Y.%-m.%-d %H:%M:%S') %></td>
                        <td><%= out_queue.account_name %></td>
                        <td class="rmb"><%= out_queue.last_acquisition_amount%></td>
                    </tr>
                <% end %>
                </tbody>
                <tfoot>
                    <tr><td colspan="4" style="text-align: right;padding-right: 20px;">  <%= will_paginate @out_queues %></td></tr>
                </tfoot>
            </table>
        </div>
        <div style="position: relative;width: 640px;height: 100px;float: left;margin-top: 10px;text-align: center">
            <img src="images/ad640_90.jpg">
        </div>
    </div>

    <div class="c-right">
        <div class="b-ui4">
            <h2>已经获得红包用户</h2>
        </div>
        <div class="b-ui2 scroll">

            <ul class="list">
                <% @acquisition_amount.each do |q| %>
                    <li>
                        <span class="color1"><%= q.account_name %></span>已经领取红包
                        <span class="num"><%= q.acquisition_amount_count %></span>个共计
                        <span class="rmb"><%= q.acquisition_amount_total %></span>元
                    </li>
                <% end %>


            </ul>
        </div>
    </div>


    <div style="clear:both;"></div>
</div>
<div class="footer">
    <div class="content">
        <p>广告合作:</p>
        <p>联系我们:</p>
    </div>
</div>

