
<div class="s-header">
    <div class="shell">
        <div class="top">
            <h1>line up</h1>
            <div class="top-navigation">
                当前登录<a href=""><%=session[:name]%></a>
                <span>|</span><a href="/logout">退出</a>
            </div>
        </div>

        <div class="navigation">
            <ul>
                <li><a href="#">TODO</a></li>
                <li><a href="#">参数设置</a></li>
                <li><a href="#">数据统计</a></li>
            </ul>
        </div>
    </div>

</div>

<div class="s-container">
    <div class="shell">
        <div class="main">
            <div style="display: none">
                <%=form_tag('/system' , method:'post',id:'s-form')  do %>
                    <input type="hidden" name="amount" value="0"/>
                    <input type="hidden" name="id" value="0"/>
                <% end %>
            </div>
            <table width="100%">
                <colgroup>
                    <col width="20"/>
                    <col width="20"/>
                    <col width="10"/>
                    <col width="15"/>
                    <col width="15"/>
                    <col width="20"/>
                </colgroup>
                <thead>
                <tr>
                    <th>队列号</th>
                    <th>用户账号</th>
                    <th>次数</th>
                    <th>上次金额(元)</th>
                    <th>本次金额(元)</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

            <%@acquisition_queue.each_with_index do |q,index|%>
                <tr>
                    <td><span class="num"><%= index + 1%></span></td>
                    <td><%=q.account_name%></td>
                    <td><strong><%=q.acquisition_amount_count%></strong></td>
                    <td><span class="rmb"><%=q.acquisition_amount_total/1000.0%></span></td>
                    <td><input type="text" class="input-amount rmb" value="<%=UserQueue::DEFAULT_AMOUNT%>"/></td>
                    <td><button class="btn-ok" dataValue="<%=q.id%>">确定</button></td>
                </tr>
             <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="s-footer">
    <div class="shell">
        <h2>FUCK</h2>
    </div>
</div>
